body{
    background-image: url(../imgs/Blueskybackground1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

footer{
    display: flex;
    justify-content: center;
    text-align: center;
}

img{
    background-blend-mode: multiply;
}

#title{
    display: flex;
    justify-content: center;
    text-align: center;
}

#title h1{
    background: linear-gradient(90deg, #F5F5F5, #A8E2FF, #F5F5F5);
    background-blend-mode: multiply;
    color: white; /* or another contrasting color for the text */
    padding: 20px;
    text-align: center;
}

#infoText {
    display: flex;
    justify-content: center;
    text-align: center;
}

#imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageContainer img{
    height: 200px;
}

#ideas{
    display: flex;
    justify-content: center;
    align-items: center;
}

#ideas img{
    height: 200px;
}

#ideas p{
    height: 48px;
}
